.download-info-card {
    padding: 0;
    width: 600px;
    height: 600px;
    overflow: hidden;
    box-shadow: var(--lumo-box-shadow-m);
    display: flex;
    flex-direction: column;
}

.download-info-card vaadin-vertical-layout {
    height: 100%;
}

.download-info-card img {
    height: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

