<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="APP_NAME" source="spring.application.name"/>

    <!-- Shared Logger Configurations -->
    <logger name="com.vaadin" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.atmosphere" level="WARN"/>
    <logger name="org.eclipse.serializer" level="WARN"/>
    <logger name="org.eclipse.store" level="WARN"/>

    <springProfile name="prod">
        <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${user.home}/.badminton-vsb/logs/application.json</file>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"name":"${APP_NAME}"}</customFields>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${user.home}/.badminton-vsb/logs/application.%d{yyyy-MM-dd}.json</fileNamePattern>
                <maxHistory>20</maxHistory>
                <totalSizeCap>50MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="ROLLING_FILE"/>
          <!--  <appender-ref ref="CONSOLE" />  -->
        </root>

        <logger name="de.ostfale.va" level="INFO" additivity="false">
            <appender-ref ref="ROLLING_FILE"/>
       <!--     <appender-ref ref="CONSOLE"/> -->
        </logger>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="de.ostfale.va" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="!prod &amp; !dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
