<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="APP_NAME" source="spring.application.name"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"name":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>

    <!-- Shared Logger Configurations -->
    <logger name="com.vaadin" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.atmosphere" level="WARN"/>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

    <springProfile name="PROD">
        <root level="WARN">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
        <logger name="de.ostfale.va" level="DEBUG" additivity="false">
            <appender-ref ref="JSON_CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="DEV">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="de.ostfale.va" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>
